.justAndAlign{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceAndAlign{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fLeft{
    float: left;
}

.fRight{
    float: right;
}

.h100{
    height: 100%;
}

.h40{
    height: 40px;
}

.alignSelf{
    align-self: flex-end;
}