<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utilities.css">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous'/>
    <!-- VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Roboto&family=Rubik+Mono+One&display=swap" rel="stylesheet">


    <title>boolzap</title>
</head>
<body>

    <main>
        <div id="app">
            <!-- LEFT COLUMN -->
            <div id="left-column">
                <!-- USERNAME -->
                <div id="user-name" class="spaceAndAlign">
                    <div class="justAndAlign">
                        <img src="img/avatar_1.jpg" alt="">
                        <h3>Nome Utente</h3>
                    </div>
                    <div class="spaceAndAlign">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- NOTIFICATIONS -->
                <div id="notifications">

                    <div>
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <p>Attiva notifiche desktop</p>
                    </div>
                    
                </div>
                <!-- SEARCH-MSG-BAR -->
                <div id="search-chat">
                    <label for="search-bar"><i class="fa-solid fa-magnifying-glass"></i></label>
                    <input type="search" name="" id="search-bar" placeholder="Cerca o inizia una nuova chat" v-model.trim="searchUser">
                </div>

                <!-- MESSAGES SENT LIST -->
                <div id="msg-list" >
                    <div id="single-chat" 
                         v-for="(user, index) in contacs"   
                         v-show="user.name.toLowerCase().includes(searchUser)" 
                         @click="changeConvo(index)">
                        <div>
                            <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
                        </div>
                        <div>
                          <div class="spaceAndAlign">
                              <h3>{{user.name}}</h3>
                              <p>{{user.messages[user.messages.length - 1].date}}</p>
                          </div>
                          <p>{{user.messages[user.messages.length - 1].message}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RIGHT COLUMN -->
            <div id="right-column">
                <!-- current user sending messages to -->
                <div id="current-msg">
                    <div class="fLeft spaceAndAlign h100">
                        <div>
                            <img :src="`img/avatar${contacs[activeUser].avatar}.jpg`" alt="">
                        </div>
                        <div>
                            <h3>{{contacs[activeUser].name}}</h3>
                            <p>Ultimo accesso oggi alle 16:35</p>
                        </div>
                    </div>
                    <div class="fRight h100 justAndAlign">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- whole current conversation -->
                <div id="conversation">
                    <div id="conversation-container">   
                        <div id="text-chat"
                             v-for="(el, index) in contacs[activeUser].messages"
                             :class="el.status">
                            <p>{{el.message}}</p>
                            <p class="time-and-date"><span>{{el.date}}</span></p>
                            <div id="info-msg">
                                <i class="fa-solid fa-chevron-down"
                                   @click.stop="showInfos()"></i>
                                <div id="delete-msg"
                                     v-if="infos">
                                    <p>Info Messaggio</p>
                                    <p @click.stop="deleteMsg(index)">Cancella Messaggio</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- input to type text and send -->
                <div id="type-msg" class="spaceAndAlign">
                    <div>
                        <i class="fa-solid fa-face-smile"></i>
                    </div>
                    <div id="msg-input">
                        <input type="text" name="" id="" placeholder="Scrivi un messaggio" v-model.trim="newSentMessage" @keyup.enter="timeAndDate(), sendMessage()">
                    </div>
                    <div>
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>

        </div>
    </main>
    

    <script src="js/script.js"></script>
</body>
</html>